<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title>Long-Term Coding Goals</mat-card-title>
    <mat-card-subtitle
      >Some may happen, some may not. Like Most long-term, more than five year,
      goals</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>
      Obviously, I am not going to list all my goals, some are pretty personal.
      Don't know where to take them!
    </p>
    <mat-list>
      <mat-list-item>Master Ionic and have 5 published apps</mat-list-item>

      <mat-list-item
        >Master rxjs and give an angular conference talk</mat-list-item
      >

      <mat-list-item>Become a Senior level developer</mat-list-item>

      <mat-list-item>Master Firebase</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title>Short-Term Coding Goals</mat-card-title>
    <mat-card-subtitle
      >These are the goals I have for the coming two years.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Publish 2 apps</mat-list-item>

      <mat-list-item>Publish 1 app utilizing firebase</mat-list-item>

      <mat-list-item>Be on track to become a Senior Developer</mat-list-item>

      <mat-list-item>Understand Observables and when to use them</mat-list-item>

      <mat-list-item
        >Contribute to and Open Source Project that I actually care
        about</mat-list-item
      >

      <mat-list-item>Cement debugging strategies</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
