<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title>Hobbies</mat-card-title>
    <mat-card-subtitle>Here are several of my hobbies</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I've spent a little bit trying to decide how I want to organize this
      section, and I think this is an alright way.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title>Photography</mat-card-title>
    <mat-card-subtitle
      >Night Photography is one of my photography passions</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-divider> </mat-divider>
    <br />
    <img
      mat-card-image
      [src]="photo[this.index].url"
      [alt]="photo[this.index].description"
      (click)="changePhoto()"
    />
    <p style="color: #aaaaaa">{{ photo[this.index].description }}</p>
    <mat-divider> </mat-divider>
    <br />
    <p>
      I enjoy spending a lot of time outdoors, finding the best night shots is a
      fun challenge and a reason to get out. These are some favorites of mine.
      Finding a good place, good view, and having the right settings takes time
      and patience. I think they're great skills to have.
    </p>
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="changePhoto()">
    Change Photo
  </button>
</mat-card>

<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <button mat-button></button>
  </mat-card-actions>
</mat-card>
