<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title>Send Me a Message</mat-card-title>
    <mat-card-subtitle
      >Send me either an email or a test message.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your email"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your name"
          [formControl]="name"
          required
        />
        <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="sendEmail()">Send</button>
  </mat-card-actions>
</mat-card>
