.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > textarea {
  width: 100%;
}

.input-container {
  width: 100%;
  display: flex;
}

.input-container > mat-form-field {
  flex: 1;
}
