<mat-card class="default-card">
  <mat-card-header>
    <span
      ><mat-card-title>
        Home
      </mat-card-title>
      <mat-card-subtitle>
        Welcome to my simple website. Stay a while and listen.
      </mat-card-subtitle></span
    >
    <span style="flex: 1 1 auto"></span>
    <span><img matCardImg src=""/></span>
  </mat-card-header>
  <mat-card-content>
    Hey, my name is Joshua Keith Pearson, thanks for stopping by to check out my
    work here. Feel free to go on to my about, goals, or hobbies page through
    the side menu.
  </mat-card-content>
</mat-card>
